<div class='row' id="constraint-<%= id %>">
  <%= form.fields_for("constraint_#{id}") do |fields| %>
    <div class='ui column'>
      I want
    </div>

    <div class='ui column'>
      <%= fields.select('quantifier', options_for_select(["at least", "exactly", "no more than"], "at least"), class: 'ui dropdown column') %>
    </div>

    <div class='ui column'>
      <%= fields.select('amount', options_for_select(amounts, 0), class: 'ui dropdown column') %>
    </div>

    <div class='ui column'>
      <%= fields.select('color', options_for_select(colors, colors.first), class: 'ui dropdown column') %>
    </div>

    <div class='ui column'>
      <%= fields.label 'by_turn' %>
    </div>

    <div class='ui column'>
      <%= fields.select('turn', options_for_select((0..10).to_a, 0), class: 'ui dropdown column') %>
    </div>

    <div class='ui column'>
      <%= button_tag(type: 'button', id: "remove-constraint-#{id}", class: 'ui compact icon button') do %>
        <i class="icon remove"></i>
      <% end %>
    </div>
  <% end %>
</div>
