<tr>
  <td><%= mana_base[:white] %></td>
  <td><%= mana_base[:blue]%></td>
  <td><%= mana_base[:black]%></td>
  <td><%= mana_base[:red]%></td>
  <td><%= mana_base[:green]%></td>
  <td><%= mana_base[:colorless]%></td>
  <td><div class='ui ribbon label'><%= mana_base[:probability]%></div></td>
</tr>
