<div class='ui main text container' id='calculation-form'>
  <h1 class='ui header'>Mana Probability Calculator</h1>

  <%= form_tag '/calculations', class: 'ui large form' do %>
    <% @mana_sources.each do |source| %>
      I want <%= select_tag(source, options_for_select(@amounts, 0)) %><%= source.titleize %><br><br>
    <% end %>

    <%= label_tag 'by_turn' %>
    <%= text_field_tag 'by_turn' %>

    <%= submit_tag 'Calculate', class: 'ui fluid large teal submit button' %>
  <% end %>
</div>
