<div class='ui main container' id='calculation-container'>

  <%= form_for :calculations, url: calculations_path, class: 'ui large form' do |f| %>
    <div class='ui center aligned text container'>
      <h1 class='ui header'>Mana Probability Calculator</h1>
      <div id='constraints' class='ui five column doubling stackable grid container'>
        <%= render partial: 'constraint', locals: { color: @colors.first, colors: @colors, amounts: @amounts, form: f, id: 0 } %>
      </div>

      <div class='one column row'>
        <%= button_tag(type: 'button', id: 'add-constraint', class: 'ui labeled icon button') do %>
          <i class="plus icon"></i>
          Add constraint
        <% end %>
      </div>

      <div class='one column row'>
        <%= f.submit 'Calculate', id: 'submit-calculation', class: 'ui large teal submit button' %>
      </div>
    </div>
    <div class='ui centered container'>
      <div class='ui three column grid'>
        <% @non_basic_lands.each.with_index do |land, index| %>
          <div class='left aligned column'>
            <div class='ui checkbox'>
              <%= check_box_tag "non_basic_lands[]", land.name %>
              <%= label_tag "non_basic_lands[]", land.name %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div id='constraint-template' style='display:none'>
      <%= render partial: 'constraint', locals: { color: @colors.first, colors: @colors, amounts: @amounts, form: f, id: 'X' } %>
    </div>
  <% end %>
</div>
