<div class='ui main center aligned text container' id='calculation-container'>
  <h1 class='ui header'>Mana Probability Calculator</h1>

  <%= form_for :calculations, url: calculations_path, class: 'ui large form' do |f| %>
      <div id='constraints' class='ui five column doubling stackable grid container'>
        <%= render partial: 'constraint', locals: { color: @colors.first, colors: @colors, amounts: @amounts, form: f, id: 0 } %>
      </div>

      <div class='one column row'>
        <%= button_tag(type: 'button', id: 'add-constraint', class: 'ui labeled icon button') do %>
          <i class="plus icon"></i>
          Add constraint
        <% end %>
      </div>

      <div class='one column row'>
        <%= f.submit 'Calculate', class: 'ui large teal submit button' %>
      </div>

      <div id='constraint-template' style='display:none'>
        <%= render partial: 'constraint', locals: { color: @colors.first, colors: @colors, amounts: @amounts, form: f, id: 'X' } %>
      </div>
  <% end %>
</div>
