<div class='ui main text container' id='calculation-form'>
  <h1 class='ui header'>Mana Probability Calculator</h1>

  <%= form_tag '/calculations', class: 'ui large form' do %>
    <div class='ui three column doubling stackable grid container'>
      <% @mana_sources.each do |source| %>
        <div class='ui column'>I want </div>
        <div class='ui column'><%= select_tag(source, options_for_select(@amounts, 0), class: 'ui dropdown column') %></div>
        <div class='ui column'><%= source.titleize %></div>
      <% end %>
    </div>
    <br>
      <%= label_tag 'by_turn' %>
      <%= text_field_tag 'by_turn' %>
    <br>
      <%= submit_tag 'Calculate', class: 'ui fluid large teal submit button' %>
  <% end %>
</div>
